JENKINS_URL=http://localhost:8080
JENKINS_USER=ai-agent
JENKINS_API_TOKEN=your-api-token-here

SECRET_MANAGE_JENKINS = sssssssssssssssssssssssssssss
JENKINS_GITHUB_TOKEN = sssssssssssssssssssssssssssss

์NGROK_YOUR_AUTHTOKEN = id-16
NGROK_FORWARDING = https://cranium-goes-childcare.ngrok-free.dev 

SONARQUBE_NAME_ADMIN = password
SONARQUBE_JENKINS_TOKEN = password